<h1>{{t 'user.form_title_create'}}</h1>

<form method='post' action='/admin/users'>
  <div class='mb-3'>
    <label for='username' class='form-label'>{{t 'user.field.username'}}</label>
    <input
      type='text'
      name='username'
      class='form-control'
      id='username'
      value=''
    />
  </div>
  <div class='mb-3'>
    <label for='password' class='form-label'>{{t 'user.field.password'}}</label>
    <input
      type='password'
      name='password'
      class='form-control'
      id='password'
      value=''
    />
  </div>
  <div class='mb-3'>
    <label for='email' class='form-label'>{{t 'user.field.email'}}</label>
    <input type='email' name='email' class='form-control' id='email' />
  </div>
  <div class='mb-3'>
    <label for='status' class='form-label'>{{t 'user.field.status'}}</label>
    <select class='form-select' id='status' name='status' aria-label='status'>
      <option selected>{{t 'user.status.placeholder'}}</option>
      <option value='0'>{{t 'user.status.inactive'}}</option>
      <option value='1'>{{t 'user.status.active'}}</option>
    </select>
  </div>
  <div class='mb-3'>
    <label for='sort' class='form-label'>{{t 'user.field.sort'}}</label>
    <input type='number' class='form-control' id='sort' value='100' />
  </div>
  <button type='submit' class='btn btn-primary'>{{t 'common.save'}}</button>
</form>