<h1>{{t 'user.list_title'}}</h1>
<div class='d-flex justify-content-end'>
  <a href='/admin/users/create' class='btn btn-success mb-3 right'>{{t
      'user.add_user'
    }}</a>
</div>
<table class='table'>
  <thead>
    <tr>
      <th>{{t 'user.field.username'}}</th>
      <th>{{t 'user.field.email'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>
          <a
            href='/admin/users/update/{{this.id}}'
            class='btn btn-success'
          >编辑</a>
          <a
            href='/admin/users/delete/{{this.id}}'
            class='btn btn-danger'
          >删除</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>