<h1>{{t 'access.detail_title'}}</h1>

<table class='table table-bordered align-middle w-auto'>
  <tbody>
    <tr>
      <th class='table-light text-nowrap'>{{t 'access.field.id'}}</th>
      <td>{{access.id}}</td>
    </tr>
    <tr>
      <th class='table-light text-nowrap'>{{t 'access.field.type'}}</th>
      <td>{{access.type}}</td>
    </tr>
    <tr>
      <th class='table-light text-nowrap'>{{t 'access.field.url'}}</th>
      <td>{{access.url}}</td>
    </tr>
    <tr>
      <th class='table-light text-nowrap'>{{t 'access.field.description'}}</th>
      <td>{{access.description}}</td>
    </tr>
    <tr>
      <th class='table-light text-nowrap'>{{t 'access.field.created_at'}}</th>
      <td>{{formatDate access.createdAt}}</td>
    </tr>
    <tr>
      <th class='table-light text-nowrap'>{{t 'access.field.updated_at'}}</th>
      <td>{{formatDate access.updatedAt}}</td>
    </tr>
  </tbody>
</table>

<div class='d-flex gap-2'>
  <a href='/admin/accesses' class='btn btn-secondary'>{{t 'access.back'}}</a>
  <a href='/admin/accesses/{{access.id}}/edit' class='btn btn-success'>{{t 'access.edit'}}</a>
</div>
