<h1>{{t 'role.list_title'}}</h1>
<form class='d-flex flex-wrap align-items-center gap-4 mb-4 mt-4'>
  <div class='d-flex align-items-center field-item'>
    <label class='me-2 text-nowrap' for='name'>{{t 'role.field.name'}}</label>
    <input type='text' class='form-control' id='name' name='name' value='{{query.name}}' />
  </div>
  <div class='d-flex justify-content-between w-100'>
    <div class='d-flex gap-2'>
      <button type='submit' class='btn btn-primary btn-eq'>{{t 'role.search'}}</button>
      <button type='button' class='btn btn-secondary btn-eq'>{{t 'role.export'}}</button>
    </div>
    <a href='/admin/roles/create' class='btn btn-success btn-eq'>{{t 'role.add'}}</a>
  </div>
</form>

<table class='table align-middle'>
  <thead>
    <tr>
      <th>{{t 'role.field.name'}}</th>
      <th>{{t 'role.actions'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each roles}}
      <tr data-id='{{this.id}}'>
        <td>{{this.name}}</td>
        <td>
          <a href='/admin/roles/{{this.id}}/detail' class='btn btn-info'>{{t 'role.view'}}</a>
          <a href='/admin/roles/{{this.id}}/edit' class='btn btn-success'>{{t 'role.edit'}}</a>
          <button type='button' class='btn btn-danger js-delete'>{{t 'role.delete'}}</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if pagination.totalPages}}
  <nav class='d-flex justify-content-between align-items-center'>
    <span class='text-muted small'>{{t 'role.total'}} {{pagination.total}}, {{t 'role.page'}} {{pagination.page}} / {{pagination.totalPages}}</span>
    <ul class='pagination mb-0'>
      <li class='page-item {{#unless pagination.hasPrev}}disabled{{/unless}}'>
        <a class='page-link' href='?page={{pagination.prevPage}}&pageSize={{pagination.pageSize}}{{#if pagination.queryString}}&{{pagination.queryString}}{{/if}}'>{{t 'role.prev'}}</a>
      </li>
      {{#each pagination.items}}
        <li class='page-item {{#if this.active}}active{{/if}}'>
          <a class='page-link' href='?page={{this.page}}&pageSize={{../pagination.pageSize}}{{#if ../pagination.queryString}}&{{../pagination.queryString}}{{/if}}'>{{this.page}}</a>
        </li>
      {{/each}}
      <li class='page-item {{#unless pagination.hasNext}}disabled{{/unless}}'>
        <a class='page-link' href='?page={{pagination.nextPage}}&pageSize={{pagination.pageSize}}{{#if pagination.queryString}}&{{pagination.queryString}}{{/if}}'>{{t 'role.next'}}</a>
      </li>
    </ul>
  </nav>
{{/if}}

<style>
  .btn-eq {
    min-width: 88px;
  }

  .field-item {
    flex: 1 1 calc(25% - 0.75rem);
    min-width: 240px;
  }
</style>

<script>
  $(function () {

    $('.js-delete').on('click', function () {
      var $row = $(this).closest('tr')
      var id = $row.data('id')
      if (!confirm("{{t 'role.delete_confirm'}}")) {
        return
      }
      $.ajax({
        url: '/admin/roles/' + id,
        method: 'DELETE',
      })
        .done(function () {
          window.location.reload()
        })
        .fail(function () {
          alert("{{t 'role.delete_failed'}}")
        })
    })
  })
</script>
