<h1>{{#if role.id}}{{t 'role.form_title_update'}}{{else}}{{t 'role.form_title_create'}}{{/if}}</h1>
<form
  method='post'
  action='{{#if role.id}}/admin/roles/{{role.id}}?_method=PUT{{else}}/admin/roles{{/if}}'
>
  <div class='mb-3'>
    <label for='name' class='form-label'>{{t 'role.field.name'}}</label>
    <input type='text' name='name' class='form-control' id='name' value='{{role.name}}' />
  </div>
  <button type='submit' class='btn btn-primary'>{{t 'common.save'}}</button>
</form>
